<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="author" content="ash-ajida">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/styles.css" />
    <title>T & J 👰🏾💐</title>
</head>

<body>
    <header>
        <div class="slider-images-wrapper gallery-hero">
            <img class="gallery-hero-img" src="assets/images/camera.jpg" alt="love birds"
                srcset="assets/images/camera-sm.png, assets/images/camera-md.png 500w, assets/images/camera.png 1000w" />
            <div class="overlay-bg">
                <div class="hero-text">
                    <span class="big-name gallery-big">Leave us a message</span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="wrapper">
                <nav class="header-nav">
                    <div class="logo">
                        <a href="index.html"><span>Our Wedding</span></a>
                    </div>
                    <div class="nav-links">
                        <a href="index.html" class="link">Home</a>
                        <a href="gallery.html" class="link">Gallery</a>
                        <a href="messages.html" class="link">Messages</a>
                    </div>
                    <div class="burger-menu">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <section class="section-messages">
            <div class="container">
                <div class="wrapper">
                    <div id="app">
                        <!-- <spinner v-if="loading"></spinner> -->
                        <message :key="index" v-for="(message, index, key) in this.$store.state.messages"
                            :message="message"></message>
                        <p v-if="showFlash" class="success">{{ success }}<span @click="toggle"><i
                                    class="fas fa-times"></i></span></span>
                        </p>
                        <message-form v-on:on-submit='postMessage'></message-form>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                <div class="wrapper">
                    <div class="line-break"></div>
                    <p class="copyright">&copy;2019 Ash Ajida</p>
                </div>
            </div>
        </footer>
    </main>

    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-database.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@2.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
    <script>
        var config = {
            apiKey: "AIzaSyBfnW-uckeESEr2COYQ22wQUYnxGzBGnOE",
            authDomain: "wedding-site-4bb37.firebaseapp.com",
            databaseURL: "https://wedding-site-4bb37.firebaseio.com",
            projectId: "wedding-site-4bb37",
            storageBucket: "wedding-site-4bb37.appspot.com",
            messagingSenderId: "521786455556"
        };

        firebase.initializeApp(config);

        const db = firebase.firestore();

    </script>
    <script>

        Vue.component('message', {
            props: ['message'],
            template: '<div class= "message"><div class= "message-body"><p>{{ message.message }}</p></div><div class="message-text-wrapper"><p class="message-name">{{ message.firstname }}</p><p class="posted-at">{{ message.created_at }}</p></div></div>'
        })

        Vue.component('message-form', {
            event: 'on-submit',
            data() {
                return {
                    messageInput: '',
                    firstnameInput: '',
                    error: false,
                    flashMessage: '',

                }
            },
            methods: {
                handleOnSubmit() {
                    const capitalise = (value) => {
                        value = value.toString();
                        return value.charAt(0).toUpperCase() + value.slice(1);
                    }

                    if (this.messageInput === '') {
                        this.error = true;
                        console.log('empty message');
                        return;
                    }

                    if (this.firstnameInput === '') {
                        this.error = true;
                        console.log('empty firstname');
                        return;
                    }


                    this.$emit('on-submit', capitalise(this.messageInput), capitalise(this.firstnameInput));

                    this.messageInput = '';
                    this.firstnameInput = '';
                }
            },
            template: '<div class="form-message"><form @submit.prevent="handleOnSubmit"><label>Name</label><br /><input type="text" v-model="firstnameInput" autofocus/><label>Message</label><br /><textarea v-model="messageInput" type="text"></textarea><button type="submit" class="btn">Post</button></form></div>'
        });
        Vue.component('message-card', {
            props: ['message-body', 'created-at'],
            template: '<div class="message-wrapper">{{created-at}}<p class="message-body"></p></div>'
        });
        Vue.component('spinner', {
            template: '<div class="loading"><img class="spinner" src="./assets/images/spinner.gif" /></div>'
        });

        Vue.use(Vuex);
        const store = new Vuex.Store({
            state: {
                messages: []
            },
            mutations: {
                fetchMessages(state, payload) {
                    state.messages.push(payload);
                },
            }
        });

        new Vue({
            el: '#app',
            data: {
                // messages: [],
                loading: true,
                showFlash: false,
                success: '',
                showMessages: false
            },
            store,
            methods: {
                toggle() {
                    this.showFlash = !this.showFlash
                },
                postMessage(message, firstname, lastname) {
                    const date = new Date().toUTCString();
                    const y = date.split(" ");
                    const newDate = `${y[2]}. ${y[1]}, ${y[3]}`

                    db.collection('messages')
                        .add({
                            firstname,
                            message,
                            created_at: newDate
                        });

                    this.$store.state.messages = [];

                    this.fetchMessagesFromDb();


                    this.success = 'Successfully Posted';
                    this.showFlash = !this.showFlash;
                },
                fetchMessagesFromDb() {

                    db.collection('messages')
                        .get()
                        .then((snapshot) => {
                            snapshot.docs.forEach(doc => {
                                this.$store.commit('fetchMessages', doc.data());
                            });
                        });
                    let self = this;
                    // if (this.$store.state.messages.length > 0) {
                    //     self.loading = false;
                    //     self.showMessages = true;
                    // }

                }
            },
            created() {
                this.fetchMessagesFromDb();
            }
        });




    </script>
    <script async src="assets/scripts/app.js"></script>
</body>

</html>